@model IEnumerable<SchoolPerformance.ViewModels.TableViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
<script src="~/bootstrap-table/bootstrap-table.js"></script>
<script src="~/xlsx/xlsx.core.min.js"></script>
<script src="~/FileSaver.js/FileSaver.js"></script>
<script src="~/TableExport/tableExport.min.js"></script>
<script src="~/bootstrap-table/extensions/export/bootstrap-table-export.js"></script>

<div class="content-wrapper">

    <div class="pl-5 pr-5">
        <table id="resultsTable"
               class="table table-striped table-bordered"
               data-toggle="table"
               data-height="700"
               data-show-export="true"
               data-pagination="true"
               data-page-list="[5, 10, 25, 50, All]"
               data-search="true"
               data-show-fullscreen="true"
               data-show-columns="true">
            <thead>
                <tr>
                    <th data-field="schname">
                        @Html.DisplayNameFor(m => m.First().SCHNAME)
                    </th>
                    <th data-field="ptfsM6CLA1A">
                        @Html.DisplayNameFor(m => m.First().PTFSM6CLA1A)
                    </th>
                    <th data-field="atT8SCR">
                        @Html.DisplayNameFor(m => m.First().ATT8SCR)
                    </th>
                    <th data-field="p8MEA">
                        @Html.DisplayNameFor(m => m.First().P8MEA)
                    </th>
                    <th data-field="ptL2BASICS_94">
                        @Html.DisplayNameFor(m => m.First().PTL2BASICS_94)
                    </th>
                    <th data-field="ptL2BASICS_95">
                        @Html.DisplayNameFor(m => m.First().PTL2BASICS_95)
                    </th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.SCHNAME)</td>

                        @if (item.PTFSM6CLA1A == null)
                        {
                            <td>NA</td>
                        }
                        else
                        {
                            <td>@Html.DisplayFor(modelItem => item.PTFSM6CLA1A)</td>
                        }

                        @if (item.ATT8SCR == null)
                        {
                            <td>NA</td>
                        }
                        else
                        {
                            <td>@Html.DisplayFor(modelItem => item.ATT8SCR)</td>
                        }


                        @if (item.P8MEA == null)
                        {
                            <td>NA</td>
                        }
                        else
                        {
                            <td>@Html.DisplayFor(modelItem => item.P8MEA)</td>
                        }

                        @if (item.PTL2BASICS_94 == null)
                        {
                            <td>NA</td>
                        }
                        else
                        {
                            <td>@Html.DisplayFor(modelItem => item.PTL2BASICS_94)</td>
                        }

                        @if (item.PTL2BASICS_95 == null)
                        {
                            <td>NA</td>
                        }
                        else
                        {
                            <td>@Html.DisplayFor(modelItem => item.PTL2BASICS_95)</td>
                        }

                    </tr>
                }


            </tbody>

        </table>
    </div>

</div>

