@model IEnumerable<SchoolPerformance.ViewModels.TableViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutTable.cshtml";
}

<div class="content-wrapper">

    <div class="pl-5 pr-5 pt-5">

        <table id="resultsTable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(m => m.First().URN)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.First().LEAESTAB)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.First().SCHNAME)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.First().PTFSM6CLA1A)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.First().ATT8SCR)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.First().P8MEA)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.First().PTL2BASICS_94)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.First().PTL2BASICS_95)
                    </th>
                </tr>
            </thead>

        </table>
    </div>

</div>
<script src="~/js/Table.js"></script>
<script>
    var results = @Json.Serialize(Model);
    var $table = $('#resultsTable');

    $(function () {

        loadTable($table,results);

    });

</script>