@model IEnumerable<SchoolPerformance.ViewModels.ScatterplotViewModel>
@{
    ViewData["Title"] = "Scatterplot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">

    <!-- Header -->
    <section class="content-header">
        <div class="container-fluid">

            <!-- Header Title-->
            <div class="row mb-2">
                <div>
                    <h1>Result Scatterplot</h1>
                </div>

            </div>
            <!-- /.header title-->

        </div>
    </section>
    <!-- /.header -->

    <div class="content">

        <div class="container-fluid">

            <div class="row">

                <!-- Performance measure dropdown-->
                <div class="col-lg-6 mb-2">

                    <div class="input-group col-12">

                        <!-- Dropdown list-->
                        <select id="measure" class="form-control">
                            <option>@Html.DisplayNameFor(m => m.First().ATT8SCR)</option>
                            <option>@Html.DisplayNameFor(m => m.First().ATT8SCR_FSM6CLA1A)</option>
                            <option>@Html.DisplayNameFor(m => m.First().ATT8SCR_NFSM6CLA1A)</option>
                            <option selected>@Html.DisplayNameFor(m => m.First().P8MEA)</option>
                            <option>@Html.DisplayNameFor(m => m.First().P8MEA_FSM6CLA1A)</option>
                            <option>@Html.DisplayNameFor(m => m.First().P8MEA_NFSM6CLA1A)</option>
                            <option>@Html.DisplayNameFor(m => m.First().PTL2BASICS_94)</option>
                            <option>@Html.DisplayNameFor(m => m.First().PTFSM6CLA1ABASICS_94)</option>
                            <option>@Html.DisplayNameFor(m => m.First().PTNOTFSM6CLA1ABASICS_94)</option>
                            <option>@Html.DisplayNameFor(m => m.First().PTL2BASICS_95)</option>
                            <option>@Html.DisplayNameFor(m => m.First().PTFSM6CLA1ABASICS_95)</option>
                            <option>@Html.DisplayNameFor(m => m.First().PTNOTFSM6CLA1ABASICS_95)</option>
                        </select>
                        <!-- /.dropdown list-->
                        <!-- Search button-->
                        <span class="input-group-append">
                            <button class="btn btn-info" onclick="updateChart()">
                                <i class="fas fa-search"></i>
                            </button>
                        </span>
                        <!-- /.search button-->

                    </div>

                </div>
                <!-- /.performance measure dropdown-->
                <!-- Search school-->
                <div class="col-lg-6 mb-2">

                    <div class="input-group col-12">

                        <!-- URN Search box-->
                        <label for="inputSchool" class="col-4 mr-2 col-form-label">Search School by URN</label>

                        <input type="number" class="form-control col-6" id="inputSchool">

                        <!-- /.URN search box-->
                        <!-- Search button-->
                        <span class="input-group-append">
                            <button class="btn btn-info">
                                <i class="fas fa-search"></i>
                            </button>
                        </span>
                        <!-- /.search button-->

                    </div>

                </div>
                <!-- /.search school-->

            </div>



            <!-- Scatter Chart-->
            <div class="chart">
                <canvas id="Scatterplot"></canvas>
            </div>
            <!-- /.scatter chart-->

            <div class="row justify-content-end">
                <button type="button" 
                        class="btn btn-secondary btn-sm"
                        onclick="resetScatterZoom()">
                Reset Zoom</button>
            </div>

        </div>
    </div>
</div>
<script src="~/hammer.js/hammer.js"></script>
<script src="~/chartjs-plugin-zoom/chartjs-plugin-zoom.js"></script>
<script src="~/js/ScatterChart.js"></script>

<script>

    var results = @Json.Serialize(Model);

    //Get the selected data to view
    var title = getMeasure();

    // Label for the y axis      
    var dataIndex = getDataIndex(title);

    //Get the data for the scatterplot including school names
    var scatterData = generateData(dataIndex, results);

    console.log(results[0]);

    //Create the graphs
    window.onload = graph(title,scatterData[0],scatterData[1]);

</script>





