@model IEnumerable<SchoolPerformance.ViewModels.ScatterplotViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">

    <!-- Header -->
    <section class="content-header">
        <div class="container-fluid">

            <!-- Header Title-->
            <div class="row mb-2">
                <div>
                    <h1>Result Scatterplot</h1>
                </div>

            </div>
            <!-- /.header title-->

        </div>
    </section>
    <!-- /.header -->

    <div class="content">

        <div class="container-fluid">

            <div class="row">

                <div class="col-md-6 mb-2">

                    <div class="input-group col-12">

                        <select id="measure" class="form-control">
                            <option>@Html.DisplayNameFor(m => m.First().ATT8SCR)</option>
                            <option>@Html.DisplayNameFor(m => m.First().ATT8SCR_FSM6CLA1A)</option>
                            <option>@Html.DisplayNameFor(m => m.First().ATT8SCR_NFSM6CLA1A)</option>
                            <option selected>@Html.DisplayNameFor(m => m.First().P8MEA)</option>
                            <option>@Html.DisplayNameFor(m => m.First().P8MEA_FSM6CLA1A)</option>
                            <option>@Html.DisplayNameFor(m => m.First().P8MEA_NFSM6CLA1A)</option>
                            <option>@Html.DisplayNameFor(m => m.First().PTL2BASICS_94)</option>
                            <option>@Html.DisplayNameFor(m => m.First().PTFSM6CLA1ABASICS_94)</option>
                            <option>@Html.DisplayNameFor(m => m.First().PTNOTFSM6CLA1ABASICS_94)</option>
                            <option>@Html.DisplayNameFor(m => m.First().PTL2BASICS_95)</option>
                            <option>@Html.DisplayNameFor(m => m.First().PTFSM6CLA1ABASICS_95)</option>
                            <option>@Html.DisplayNameFor(m => m.First().PTNOTFSM6CLA1ABASICS_95)</option>
                        </select>

                        <span class="input-group-append">
                            <button class="btn btn-info" onclick="updateChart()">
                                <i class="fas fa-search"></i>
                            </button>
                        </span>

                    </div>

                </div>

            </div>


            <div class="chart">
                <canvas id="Scatterplot"></canvas>
            </div>

        </div>
    </div>
</div>

<script src="~/js/ScatterChart.js"></script>

<script>

    var results = @Json.Serialize(Model);

    //Get the selected data to view
    var title = getMeasure();

    // Label for the y axis      
    var dataIndex = getDataIndex(title);

    //Get the data for the scatterplot including school names
    var scatterData = generateData(dataIndex, results);

    //Create the graphs
    window.onload = graph(title,scatterData[0],scatterData[1]);

    function updateChart() {

        title = getMeasure();
        dataIndex = getDataIndex(title);
        scatterData = generateData(dataIndex, results);

        window.scatter.data.labels = scatterData[1];
        window.scatter.data.datasets[0].data = scatterData[0];
        window.scatter.options.scales.yAxes[0].scaleLabel.labelString = title;

        window.scatter.update();
    }


</script>





