@model SchoolPerformance.ViewModels.ScatterplotListViewModel
@{
    ViewData["Title"] = "Scatterplot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Chart.js 2.6/Chart.min.js"></script>
<script src="~/hammer.js/hammer.min.js"></script>
<script src="~/chartjs-plugin-zoom/chartjs-plugin-zoom.min.js"></script>
<script src="~/chartjs-plugin-annotation/chartjs-plugin-annotation.min.js"></script>
<script src="~/js/ScatterChart.js"></script>

<div class="content-wrapper">

    <div class="content">

        <div class="container-fluid">

            <div class="pl-2 pr-2 pt-2 pb-2">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title pr-2">Result Scatterplot</h3>
                        
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <!-- Performance measure dropdown-->
                            <div class="col-lg-6 mb-2">

                                <div class="input-group col-12">

                                    <!-- Dropdown list-->
                                    <select id="measure" class="form-control">
                                        <option>@Html.DisplayNameFor(m => m.schoolData.First().ATT8SCR)</option>
                                        <option>@Html.DisplayNameFor(m => m.schoolData.First().ATT8SCR_FSM6CLA1A)</option>
                                        <option>@Html.DisplayNameFor(m => m.schoolData.First().ATT8SCR_NFSM6CLA1A)</option>
                                        <option selected>@Html.DisplayNameFor(m => m.schoolData.First().P8MEA)</option>
                                        <option>@Html.DisplayNameFor(m => m.schoolData.First().P8MEA_FSM6CLA1A)</option>
                                        <option>@Html.DisplayNameFor(m => m.schoolData.First().P8MEA_NFSM6CLA1A)</option>
                                        <option>@Html.DisplayNameFor(m => m.schoolData.First().PTL2BASICS_94)</option>
                                        <option>@Html.DisplayNameFor(m => m.schoolData.First().PTFSM6CLA1ABASICS_94)</option>
                                        <option>@Html.DisplayNameFor(m => m.schoolData.First().PTNOTFSM6CLA1ABASICS_94)</option>
                                        <option>@Html.DisplayNameFor(m => m.schoolData.First().PTL2BASICS_95)</option>
                                        <option>@Html.DisplayNameFor(m => m.schoolData.First().PTFSM6CLA1ABASICS_95)</option>
                                        <option>@Html.DisplayNameFor(m => m.schoolData.First().PTNOTFSM6CLA1ABASICS_95)</option>
                                    </select>
                                    <!-- /.dropdown list-->
                                    <!-- Search button-->
                                    <span class="input-group-append">
                                        <button class="btn btn-info" onclick="updateChart()">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </span>
                                    <!-- /.search button-->

                                </div>

                            </div>
                            <!-- /.performance measure dropdown-->
                            <!-- Search school-->
                            <div class="col-lg-6 mb-2">

                                <div class="input-group col-12">

                                    <!-- URN Search box-->
                                    <label for="inputSchool" class="mr-2 col-form-label">Search School</label>

                                    <input type="text" class="form-control school-search" id="inputSchool" autocomplete="off">

                                    <!-- /.URN search box-->
                                    <!-- Search button-->
                                    <span class="input-group-append">
                                        <button class="btn btn-info" onclick="updateHighligtedSchool()">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </span>
                                    <!-- /.search button-->
                                </div>
                            </div>
                            <!-- /.search school-->
                        </div>

                        <!-- Scatter Chart-->
                        <div class="chart">
                            <canvas id="Scatterplot"></canvas>
                        </div>
                        <!-- /.scatter chart-->
                        <!-- Reset Chart Zoom Button-->
                        <div class="row justify-content-end">
                            <button type="button"
                                    class="btn btn-secondary btn-sm mr-2"
                                    onclick="resetScatterZoom()">
                                Reset Zoom
                            </button>
                            <button type="button" id="toogleNationalLabel"
                                    class="btn btn-secondary btn-sm"
                                    onclick="toggleNationalLabel()"
                                    value="Show National Label">
                                Show National Label
                            </button>
                        </div>
                        <!-- reset chart zoom button-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    //Convert the IEnumerable list of ScatterplotViewModel
    //To a list of JSON objects
    var schoolResults = @Json.Serialize(Model.schoolData);

    //Get the national data
    var nationalResult = @Json.Serialize(Model.nationalData);

    //Get the selected data to view
    var title = getMeasure();

    // Label for the y axis
    var dataIndex = getDataIndex(title);

    //Initially the school selected is set to null
    var selectedSchool = null;

    //Get the data for the scatterplot including school names
    var scatterData = generateData(dataIndex, schoolResults, selectedSchool);

    var nationalData = getNationalData(dataIndex, nationalResult);

    //Create the graphs
    window.onload = graph(title, scatterData[0], scatterData[1], nationalData);

</script>





