@model SchoolPerformance.ViewModels.TableViewModelDisadvantaged
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutTables.cshtml";
}

<div class="content-wrapper">

    <div class="pl-2 pr-2 pt-2 pb-2">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Results Table Disadvantaged Pupils</h3>
            </div>
            <div class="card-body">
                <table id="resultsTable" class="table table-striped table-bordered" style="width:100%">
                </table>
            </div>
        </div>
    </div>

</div>

<script src="~/js/Table.js"></script>

<script>
    var $table = $('#resultsTable');

    var tableCols = [
        {
            data: "urn",
            title: "@Html.DisplayNameFor(m => m.URN)"
        },
        {
            data: "leaestab",
            title: "@Html.DisplayNameFor(m => m.LEAESTAB)"
        },
        {
            data: "schname",
            title: "@Html.DisplayNameFor(m => m.SCHNAME)"
        },
        {
            data: "ptfsM6CLA1A",
            title: "@Html.DisplayNameFor(m => m.PTFSM6CLA1A)",
            type: "highlight-sort-percent",
            render: function (data) {return dataFormat(data, "sort-percent")}
        },
        {
            data: "atT8SCR_FSM6CLA1A",
            title: "@Html.DisplayNameFor(m => m.ATT8SCR_FSM6CLA1A)",
            render: function (data) {return dataFormat(data, "sort-num")},
            type: "highlight-sort-num"
        },
        {
            data: "p8MEA_FSM6CLA1A",
            title: "@Html.DisplayNameFor(m => m.P8MEA_FSM6CLA1A)",
            render: function (data) {return dataFormat(data, "sort-num")},
            type: "highlight-sort-num"
        },
        {
            data: "ptfsM6CLA1ABASICS_94",
            title: "@Html.DisplayNameFor(m => m.PTFSM6CLA1ABASICS_94)",
            render: function (data) {return dataFormat(data, "sort-percent")},
            type: "highlight-sort-percent"
        },
        {
            data: "ptfsM6CLA1ABASICS_95",
            title: "@Html.DisplayNameFor(m => m.PTFSM6CLA1ABASICS_95)",
            render: function (data) {return dataFormat(data, "sort-percent")},
            type: "highlight-sort-percent"
        }
    ];


    $(function () {
        $table.append('<tfoot><tr>' + createFooterHTML(tableCols)+'</tr></tfoot>');
        loadTable($table, tableCols, "/Tables/GetResultsDisadvantaged");

    });

</script>