@model SchoolPerformance.ViewModels.SchoolViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">

            <h1 class="m-0 text-dark">@Model.ResultSchool.SCHNAME</h1>

        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card col-12">
                    <div class="card-body table-responsive p-0">
                        <table class="table table-striped table-valign-middle">
                            <thead>
                                <tr>
                                    <th>Context</th>
                                    <th>School</th>
                                    <th>National</th>
                                    <th>Difference</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Percentage disadvantaged at the end of KS4 -->
                                <tr>
                                    <td>
                                        @Html.LabelFor(m => m.ResultSchool.PTFSM6CLA1A)
                                    </td>
                                    @{
                                        if (Model.ResultSchool.PTFSM6CLA1A == null)
                                        {
                                            <!-- Render if no data is available -->
                                            <td>
                                                <span>N/A</span>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(m => m.ResultNational.PTFSM6CLA1A)
                                            </td>
                                            <td>
                                                <span>N/A</span>
                                            </td>
                                            <!--/. render if no data is available -->
                                        }
                                        else
                                        {
                                            <!-- Calculate if school is above or below average -->
                                            var dif = Math.Round((decimal)Model.ResultSchool.PTFSM6CLA1A - (decimal)Model.ResultNational.PTFSM6CLA1A, 2);

                                            if (dif > 0)
                                            {
                                                <!-- Render if school is above average -->
                                                var difPercent = $"{Math.Round(dif * 100)}%";
                                                <td>
                                                    <span class="badge badge-success">
                                                        @Html.DisplayFor(m => m.ResultSchool.PTFSM6CLA1A)
                                                    </span>

                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => m.ResultNational.PTFSM6CLA1A)
                                                </td>
                                                <td>
                                                    <span class="badge badge-success">
                                                        <i class="fas fa-arrow-up"></i>
                                                        @difPercent Above Average
                                                    </span>

                                                </td>
                                                <!--/. render if is school above average -->

                                            }
                                            else if (dif == 0)
                                            {
                                                <!-- Render if school is in line with average -->
                                                <td>
                                                    <span>@Html.DisplayFor(m => m.ResultSchool.PTFSM6CLA1A)</span>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => m.ResultNational.PTFSM6CLA1A)
                                                </td>
                                                <td>
                                                    <span>
                                                        In line with Average
                                                    </span>
                                                </td>
                                                <!--/. render if school is in line with average -->
                                            }
                                            else
                                            {
                                                <!-- Render if school is below average -->
                                                var difPercent = $"{Math.Round(dif * -100)}%";
                                                <td>
                                                    <span class="badge badge-secondary">
                                                        @Html.DisplayFor(m => m.ResultSchool.PTFSM6CLA1A)
                                                    </span>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => m.ResultNational.PTFSM6CLA1A)
                                                </td>
                                                <td>
                                                    <span class="badge badge-secondary">
                                                        <i class="fas fa-arrow-down"></i>
                                                        @difPercent Below Average
                                                    </span>
                                                </td>
                                                <!--/. render if school is below average -->
                                            }

                                        }
                                    }

                                </tr>
                                <!-- /.percentage disadvantaged at the end of KS4 -->
                                <!-- Percentage FSM6 -->
                                <tr>
                                    <td>
                                        @Html.LabelFor(m => m.ContextualSchool.PNUMFSMEVER)
                                    </td>
                                    @{
                                        if (Model.ContextualSchool.PNUMFSMEVER == null)
                                        {
                                            <!-- Render if no data is available -->
                                            <td>
                                                <span>N/A</span>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(m => m.ContextualNational.PNUMFSMEVER)
                                            </td>
                                            <td>
                                                <span>N/A</span>
                                            </td>
                                            <!--/. render if no data is available -->
                                        }

                                        else
                                        {
                                            var dif = Math.Round((decimal)Model.ContextualSchool.PNUMFSMEVER - (decimal)Model.ContextualNational.PNUMFSMEVER);

                                            if (dif > 0)
                                            {
                                                <!-- Render if school is above average -->
                                                var difPercent = dif + "%";
                                                <td>
                                                    <span class="badge badge-success">
                                                        @Html.DisplayFor(m => m.ContextualSchool.PNUMFSMEVER)
                                                    </span>

                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => m.ContextualNational.PNUMFSMEVER)
                                                </td>
                                                <td>
                                                    <span class="badge badge-success">
                                                        <i class="fas fa-arrow-up"></i>
                                                        @difPercent Above Average
                                                    </span>

                                                </td>
                                                <!--/. render if school is above average -->
                                            }
                                            else if (dif == 0)
                                            {
                                                <!-- Render if school is in line with average -->
                                                <td>
                                                    <span>@Html.DisplayFor(m => m.ContextualSchool.PNUMFSMEVER)</span>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => m.ContextualNational.PNUMFSMEVER)
                                                </td>
                                                <td>
                                                    <span>
                                                        In line with Average
                                                    </span>
                                                </td>
                                                <!--/. render if school is in line with average -->
                                            }
                                            else
                                            {
                                                <!-- Render if school is below average -->
                                                var difPercent = $"{dif * -1}%";
                                                <td>
                                                    <span class="badge badge-secondary">
                                                        @Html.DisplayFor(m => m.ContextualSchool.PNUMFSMEVER)
                                                    </span>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => m.ContextualNational.PNUMFSMEVER)
                                                </td>
                                                <td>
                                                    <span class="badge badge-secondary">
                                                        <i class="fas fa-arrow-down"></i>
                                                        @difPercent Below Average
                                                    </span>
                                                </td>
                                                <!--/. render if school is below average -->
                                            }
                                        }
                                    }

                                </tr>
                                <!-- /.percentage FSM6 -->
                                <!-- Percentage SEN support -->
                                <tr>
                                    <td>
                                        @Html.LabelFor(m => m.ContextualSchool.PSENELK)
                                    </td>
                                    @{
                                        if (Model.ContextualSchool.PSENELK == null)
                                        {
                                            <!-- Render if no data is available -->
                                            <td>
                                                <span>N/A</span>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(m => m.ContextualNational.PSENELK)
                                            </td>
                                            <td>
                                                <span>N/A</span>
                                            </td>
                                            <!--/. render if no data is available -->
                                        }

                                        else
                                        {
                                            var dif = Math.Round((decimal)Model.ContextualSchool.PSENELK - (decimal)Model.ContextualNational.PSENELK);

                                            if (dif > 0)
                                            {
                                                <!-- Render if school is above average -->
                                                var difPercent = dif + "%";
                                                <td>
                                                    <span class="badge badge-success">
                                                        @Html.DisplayFor(m => m.ContextualSchool.PSENELK)
                                                    </span>

                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => m.ContextualNational.PSENELK)
                                                </td>
                                                <td>
                                                    <span class="badge badge-success">
                                                        <i class="fas fa-arrow-up"></i>
                                                        @difPercent Above Average
                                                    </span>

                                                </td>
                                                <!--/. render if school is above average -->
                                            }
                                            else if (dif == 0)
                                            {
                                                <!-- Render if school is in line with average -->
                                                <td>
                                                    <span>@Html.DisplayFor(m => m.ContextualSchool.PSENELK)</span>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => m.ContextualNational.PSENELK)
                                                </td>
                                                <td>
                                                    <span>
                                                        In line with Average
                                                    </span>
                                                </td>
                                                <!--/. render if school is in line with average -->
                                            }
                                            else
                                            {
                                                <!--/ Render if school is below average -->
                                                var difPercent = $"{dif * -1}%";
                                                <td>
                                                    <span class="badge badge-secondary">
                                                        @Html.DisplayFor(m => m.ContextualSchool.PSENELK)
                                                    </span>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => m.ContextualNational.PSENELK)
                                                </td>
                                                <td>
                                                    <span class="badge badge-secondary">
                                                        <i class="fas fa-arrow-down"></i>
                                                        @difPercent Below Average
                                                    </span>
                                                </td>
                                                <!--/. render if school is below average -->
                                            }

                                        }
                                    }
                                </tr>
                                <!-- /.percentage SEN support -->
                                <!-- Percentage SEN EHC plan -->
                                <tr>
                                    <td>
                                        @Html.LabelFor(m => m.ContextualSchool.PSENELSE)
                                    </td>

                                    @{
                                        <!-- Render if no data is available -->
                                        if (Model.ContextualSchool.PSENELSE == null)
                                        {
                                            <td>
                                                <span>N/A</span>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(m => m.ContextualNational.PSENELSE)
                                            </td>
                                            <td>
                                                <span>N/A</span>
                                            </td>
                                            <!--/. render if no data is available -->
                                        }

                                        else
                                        {
                                            var dif = Math.Round((decimal)Model.ContextualSchool.PSENELSE - (decimal)Model.ContextualNational.PSENELSE);

                                            if (dif > 0)
                                            {
                                                <!-- Render if school is above average -->
                                                var difPercent = dif + "%";
                                                <td>
                                                    <span class="badge badge-success">
                                                        @Html.DisplayFor(m => m.ContextualSchool.PSENELSE)
                                                    </span>

                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => m.ContextualNational.PSENELSE)
                                                </td>
                                                <td>
                                                    <span class="badge badge-success">
                                                        <i class="fas fa-arrow-up"></i>
                                                        @difPercent Above Average
                                                    </span>

                                                </td>
                                                <!--/. render if school is above average -->
                                            }


                                            else if (dif == 0)
                                            {
                                                <!-- Render if school is in line with average -->
                                                <td>
                                                    <span>@Html.DisplayFor(m => m.ContextualSchool.PSENELSE)</span>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => m.ContextualNational.PSENELSE)
                                                </td>
                                                <td>
                                                    <span>
                                                        In line with Average
                                                    </span>
                                                </td>
                                                <!--/. render if school is in line with average -->
                                            }
                                            else
                                            {
                                                <!-- Render if school is below average -->
                                                var difPercent = $"{dif * -1}%";
                                                <td>
                                                    <span class="badge badge-secondary">
                                                        @Html.DisplayFor(m => m.ContextualSchool.PSENELSE)
                                                    </span>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => m.ContextualNational.PSENELSE)
                                                </td>
                                                <td>
                                                    <span class="badge badge-secondary">
                                                        <i class="fas fa-arrow-down"></i>
                                                        @difPercent Below Average
                                                    </span>
                                                </td>
                                                <!--/. render if school is below average -->
                                            }

                                        }


                                    }

                                </tr>
                                <!-- /.percentage SEN EHC plan -->
                                <!-- Percentage EAL -->
                                <tr>
                                    <td>
                                        @Html.LabelFor(m => m.ContextualSchool.PNUMEAL)
                                    </td>
                                    @{
                                        if (Model.ContextualSchool.PNUMEAL == null)
                                        {
                                            <!-- Render if no data is available -->
                                            <td>
                                                <span>N/A</span>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(m => m.ContextualNational.PNUMEAL)
                                            </td>
                                            <td>
                                                <span>N/A</span>
                                            </td>
                                            <!--/. render if no data is available -->
                                        }
                                        else
                                        {
                                            var dif = Math.Round((decimal)Model.ContextualSchool.PNUMEAL - (decimal)Model.ContextualNational.PNUMEAL);
                                            if (dif > 0)
                                            {
                                                <!-- Render if school is above average -->
                                                var difPercent = dif + "%";
                                                <td>
                                                    <span class="badge badge-success">
                                                        @Html.DisplayFor(m => m.ContextualSchool.PNUMEAL)
                                                    </span>

                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => m.ContextualNational.PNUMEAL)
                                                </td>
                                                <td>
                                                    <span class="badge badge-success">
                                                        <i class="fas fa-arrow-up"></i>
                                                        @difPercent Above Average
                                                    </span>

                                                </td>
                                                <!--/. render if school is above average -->
                                            }
                                            else if (dif == 0)
                                            {
                                                <!-- Render if school is in line with average -->
                                                <td>
                                                    <span>@Html.DisplayFor(m => m.ContextualSchool.PNUMEAL)</span>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => m.ContextualNational.PNUMEAL)
                                                </td>
                                                <td>
                                                    <span>
                                                        In line with Average
                                                    </span>
                                                </td>
                                                <!--/. render if school is in line with average -->
                                            }
                                            else
                                            {
                                                <!-- Render if school is below average -->
                                                var difPercent = $"{dif * -1}%";
                                                <td>
                                                    <span class="badge badge-secondary">
                                                        @Html.DisplayFor(m => m.ContextualSchool.PNUMEAL)
                                                    </span>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => m.ContextualNational.PNUMEAL)
                                                </td>
                                                <td>
                                                    <span class="badge badge-secondary">
                                                        <i class="fas fa-arrow-down"></i>
                                                        @difPercent Below Average
                                                    </span>
                                                </td>
                                                <!--/. render if school is below average -->
                                            }

                                        }
                                    }

                                </tr>
                                <!-- /.percentage EAL -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--Row with Attainment and Progress 8 charts -->
            <div class="row">
                <!-- Progress 8 chart -->
                <div class="col-12 col-sm-6">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Progress 8</h3>
                        </div>
                        @if (Model.ResultSchool.P8MEA == null)
                        {
                            <div class="card-body">
                                <p>This school has no Progress 8 result</p>
                            </div>
                        }
                        else
                        {
                            <div class="card-body">
                                <canvas id="Progress8" class="charts"></canvas>
                            </div>
                        }
                    </div>
                </div>
                <!--/. progress 8 chart -->
                <!--/. Attainment 8 chart -->
                <div class="col-12 col-sm-6">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Attainment 8</h3>
                        </div>
                        @if (Model.ResultSchool.ATT8SCR == null)
                        {
                            <div class="card-body">
                                <p>This school has no Attainment 8 result</p>
                            </div>
                        }
                        else
                        {
                            <div class="card-body">
                                <canvas id="Attainment8" class="charts"></canvas>
                            </div>
                        }
                    </div>
                </div>
                <!--/. attainment 8 chart -->
            </div>
            <!--/. row with attainment and progress 8 charts -->
            <!--Row with English and Maths charts -->
            <div class="row">
                <!--9 to 4 English and Maths chart -->
                <div class="col-12 col-sm-6">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">9 to 4 English and Maths</h3>
                        </div>
                        @if (Model.ResultSchool.PTL2BASICS_94 == null)
                        {
                            <div class="card-body">
                                <p>This school has no 9 to 4 English and Maths result</p>
                            </div>

                        }
                        else
                        {
                            <div class="card-body">
                                <canvas id="Above4" class="charts"></canvas>
                            </div>
                        }
                    </div>
                </div>
                <!--/. 9 to 4 english and maths chart -->
                <!--/. 9 to 5 english and maths chart -->
                <div class="col-12 col-sm-6">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">9 to 5 English and Maths</h3>
                        </div>
                        @if (Model.ResultSchool.PTL2BASICS_95 == null)
                        {
                            <div class="card-body">
                                <p>This school has no 9 to 5 English and Maths result</p>
                            </div>

                        }
                        else
                        {
                            <div class="card-body">
                                <canvas id="Above5" class="charts"></canvas>
                            </div>
                        }
                    </div>
                </div>
                <!--/. 9 to 5 english and maths chart -->
            </div>
            <!--/. row with English and Maths charts -->

        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script>
    var schoolres = @Json.Serialize(Model.ResultSchool);
    var nationalres = @Json.Serialize(Model.ResultNational);


/*
 * Get the index to use to retrive data for the Charts
*/
    function getDataIndex(index) {

        var dataIndex = {
            "Progress8": ["p8MEA","p8MEA_FSM6CLA1A","p8MEA_NFSM6CLA1A"],
            "Attainment8": ["atT8SCR","atT8SCR_FSM6CLA1A","atT8SCR_NFSM6CLA1A"],
            "Above4": ["ptL2BASICS_94", "ptfsM6CLA1ABASICS_94", "ptnotfsM6CLA1ABASICS_94"],
            "Above5": ["ptL2BASICS_95", "ptfsM6CLA1ABASICS_95", "ptnotfsM6CLA1ABASICS_95"]
        };

        return dataIndex[index];
    }

/*
 * Function to convert decimal to percentage
*/ 
    function convertToPercent(index, val) {

        if (index == "Above4" || index == "Above5") {

            return Math.round(val * 100) + "%";

        }

        return val;
        
    }
    /*
 * Create the data and labels to be used for the chart
 * any null result is ignored
*/
    function dataForChart(schoolData, nationalData) {

        var possibleLables = ['All', 'Disadvantaged', 'Non Disadvantaged'];

        //Data to be used for the chart
        res = {
            school:[],
            national: [],
            labels: []
        }

        //Loop thorugh the data and null result should be ignored
        for (var i = 0; i < schoolData.length; i++) {

            if (schoolData[i] != null) {

                res["school"].push(schoolData[i]);
                res["national"].push(nationalData[i]);
                res["labels"].push(possibleLables[i]);
            }

        }

        return res;
    }

    /*
 * Get all the chart elements on the page and generate the charts
*/
    var ctxLst = document.getElementsByClassName('charts');

    if (ctxLst.length > 0) {

            for (var i = 0; i < ctxLst.length; i++) {

                ctx = ctxLst[i].getContext('2d');

                var dataId = ctxLst[i].id;

                var index = getDataIndex(dataId);

                var schoolData = [schoolres[index[0]], schoolres[index[1]], schoolres[index[2]]];

                var nationalData = [nationalres[index[0]], nationalres[index[1]], nationalres[index[2]]];

                var chartData = dataForChart(schoolData,nationalData)

                getChart(dataId,chartData,ctx);
            }
    }

        /*
 * Create the chart
*/
    function getChart(dataId,chartData,ctx) {

        new Chart(ctx, {
            type: 'bar',
            data: {
                datasets: [{
                    label: 'School',
                    data: chartData['school'],
                    backgroundColor: "rgb(0, 123, 255)",
                    borderColor: "rgb(0, 123, 255)"
                },
                {
                    label: 'National',
                    data: chartData['national'],
                    backgroundColor: 'rgb(206,212,218)',
                    borderColor: 'rgb(206,212,218)'
                    }],
                labels: chartData['lables']
            },
            options: {
                scales: {
                    yAxes: [{
                        scaleLabel: {
                            display: true
                        },
                        ticks: {
                            callback: function (value) {
                                return convertToPercent(dataId, value);
                            }
                        }
                    }]
                },
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {

                            var label = data.datasets[tooltipItem.datasetIndex].label

                            return label + " " + convertToPercent(dataId, tooltipItem.yLabel);
                        }
                    }
                },
                plugins: {
                    datalabels: {
                        color: 'rgb(0,0,0)',
                        anchor: 'end',
                        align: 'top',
                        formatter: function (value) {
                            return convertToPercent(dataId, value);
                        }
                    }
                }
            }


        });

    }
</script>